*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navbar{
background-color:#080808d2;

}

.navbar-nav a{
    color:rgb(247, 247, 247);
    font-size:1rem;
    font-weight: 800;
    cursor: pointer;
    text-decoration: none;
}
.navbar-brand{
font-weight: bolder;
color:white;
font-size: 1.35em;
font-weight: 800;
cursor: pointer;
text-decoration: none;
}
.main{
    background: url(https://images.pexels.com/photos/256502/pexels-photo-256502.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1)no-repeat;
    background-size: cover;
    height:100vh;
    width: 100%;
}
.main h3{
    font-size: 4.4rem;
    font-weight: 800;
    color: #fff;
}
.main h6{
    font-size: 1.4rem;
    line-height: 1;
    border-bottom: 5px solid #ff004f;
    width: 30%;
    padding-top: 1rem;
    color: #ff004f;
}
.main .btn1{
height:55px ;
width:138px ;
background-color: #ff004f;
color:rgb(255, 254, 254);
font-weight: bold;
border-radius: 5px;
}
.main .btn1:hover{
    background-color: #ff0051da;
    color: white;
}
.main .btn2:hover{
    background-color: #ff004f;
    color: white;
}
.main .btn2{
    height:55px ;
    width:138px ;
    background-color: transparent;
    color:#fffefe;
    border: 3px solid #ff004f;
    font-weight: bold ;
    border-radius: 5px;
    }
    .about{
        background: #080808;
        color: #fff;
    }
    .about img{
        -webkit-box-shadow: 4px 5px 19px 2px rgba(0,0,0,0.75);
        -moz-box-shadow: 4px 5px 19px 2px rgba(0,0,0,0.75);
        box-shadow: 4px 5px 19px 2px rgba(0,0,0,0.75);
        height: 600px;
        width: fit-content;
    }
    h1{
        font-size: 3rem;
        font-weight: 900;
    
    }
    /* .pro-value1{
        animation: load1 3s normal forwards;
        border-radius:50px ;
        background-color: black;
        height: 42px;
        width: 0;
    }
    .progress p{
        color:white;
        padding:12px ;
    }
    @keyframes load1{
        0%{
            width: 0;
        }
        100%{
            width: 98%;
        }
    }
    .pro-value2{
        animation: load2 3s normal forwards;
        border-radius:50px ;
        background-color: black;
        height: 42px;
        width: 0;
    }
    .pro-value3{
        animation: load3 3s normal forwards;
        border-radius:50px ;
        background-color: black;
        height: 42px;
        width: 0;
    }
    .pro-value4{
        animation: load4 3s normal forwards;
        border-radius:50px ;
        background-color: black;
        height: 42px;
        width: 0;
    }
    @keyframes load2{
        0%{
            width: 0;
        }
        100%{
            width: 85%;
        }
    }
    @keyframes load3{
        0%{
            width: 0;
        }
        100%{
            width: 80%;
        }
    }
    @keyframes load4{
        0%{
            width: 0;
        }
        100%{
            width: 70%;
        }
    } */
    .btn1{
        height: 40px;
        width: 145px;
        outline:none;
        border: none;
        background-color: black;
        color: white;
        border-radius: 4px;
    }
    .btn2{
        height: 40px;
        width: 145px;
        outline:none;
        border: none;
        background-color: black;
        color: white;
        border-radius: 4px;
    }
    .btn1:hover{
        background-color: transparent;
        color: black;
        border: 1px solid black;
        transition:0.5s ;
    }
    .btn2:hover{
        background-color: transparent;
        color: black;
        border: 1px solid black;
        transition:0.5s ;
    }
    .courses .card{
        border:none;
        outline: none;
    }
    .courses .card p{
        color:gray;

    }
    /*.circle{
        height: 200px;
        width: 200px;
        background-color: lightgray;
        color:black;
        padding: 12px;
        font-size:30px ;
        display: inline-block;
        margin-bottom: 20px;
        border-radius: 50%;
    }*/
    .courses .card:hover {
        background-color: black;
        color: white;
        transition: 0.5s;
    }
    .courses .card img{
      
        height: 260px;
        width:100%;
        align-self: center ;
    }
 .card-title{
    font-size: 2.4rem;
    color: black;
    
}
.footer p{
    font-size: medium;
    font-weight: 600;
    color: black;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content:'' ;
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span {
    color:#b54769;
    font-size: 14px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
display: block;
}
.courses .work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap:40px;
    margin-top: 50px;
}
.courses .work{
    border-radius :10px ;
    position: relative;
    overflow: hidden;
}
.courses .work img{
    width: 100%;
    border-radius: 10px;
    display: block;
   transition: transform 0.5s;

}
.layer{
    width: 100%;
    height: 0;
    background:linear-gradient(rgba(0,0,0,0.6),#ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    transition: height 0.5s;
}
.layer p{
    color: #fff;
    font-weight: 500;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
    color: #fff;
}
.layer a{
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
  
}
.work:hover img{
    transform: scale(1.1);

}
.work:hover .layer{
    height: 100%;
}
.btnn1{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 8px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;


}
.btnn1:hover{
    background: #ff004f;

}

.contact-left{
    flex-basis: 35%;

}
.contact-right{
    flex-basis: 60%;
    
}
.contact-left p{
    margin-top: 30px;
    color: #fff;
    
    
}
.contact-left p span{
    margin-bottom: 20px;
    
}
.contact-left p i{
   color: #ff004f;
   margin-right: 15px;
   font-size: 25px;
    
}
.social{
    margin-top: 30px;
}
.social a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: tranform 0.5s;
}
.social a:hover{
    color: #ff004f;
    transform: translateY(-5px);
}
.btnn1.btnn2{
    display: inline-block;
    background: #ff004f;
}
.contact-right.form{
    width: 100%;
}
form input,form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin:15px 0 ;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;


}
form .sendd{
padding: 14px 60px;
font-size: 18px;
margin-top: 20px;
cursor: pointer;

}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 0;
    color: #fff;
   
}
.end p{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #080808;
    font-weight: 300;
    margin-top: 0;
    color: #fff;
}
